.homePage {
	position: relative;
	height: 100vh;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.8) 18.11%,
			rgba(0, 0, 0, 0) 100%
		),
		url(../images/home-page-background.jpeg);
	background-size: "cover";
	background-position: "center";
	overflow: hidden;
}

.findStay {
	position: absolute;
	width: 949px;
	height: 108px;
	left: calc(50% - 949px / 2 + 0.5px);
	top: 292px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 108px;
	text-align: center;
	color: #ffffff;
}

.explore {
	position: absolute;
	width: 750px;
	height: 56px;
	left: calc(50% - 750px / 2);
	top: 423px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #ffffff;
}

.searchBarPosition1 {
	position: absolute;
	width: 800px !important;
	height: 64px;
	left: calc(50% - 800px / 2);
	top: 516px;
}
